<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/static/kyc.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form action="" method="post">{% csrf_token%}
            <h2>LOGIN</h2>
            <div class="input-box">
                <form>
                    <input type="text" placeholder="Enter Aadhaar Number (16 digits)" name="Aadhar_no" required>

                  
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" required name="password_l">
                <i class='bx bxs-lock' ></i>
            </div>
            <div>
                Don't have an account? <a href="/register" style="text-decoration: none;">SIGN UP</a><br>
            </div><br>
            <button type="submit" class="register-btn">Submit</button>
            </div>
        </form>
</html>