body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(253, 253, 253);
    font-family: Arial, sans-serif;
    background-size: 350px;
    background-position: center;
}

.wrapper {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgb(108, 98, 98);
}

.wrapper h2 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;

}

.input-box {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.input-box input {
    width: 95%;
    padding: 10px;
    background: #ffffff;
    border: 1px black solid;
    border-radius: 5px;
    color: #000000;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}
.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.register-btn {
    width: 100%;
    padding: 10px;
    color: #ffffff;
    background: rgb(4, 25, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.django-userform{
    border-radius: 5px;
}